# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


_build/*
.ipynb_checkpoints/*
*.pickle
package-lock.json
package.json
.vscode/
node_modules/*

# Ignore .env file where contributors will store their GitHub API Tokens. We
# don't want them to accidentally push them to the repo.
.env
