mystmd
# if you want to use jupyter lab to edit notebooks
jupyterlab_myst
# to support efficient pandas string behaviors
pyarrow

# Linting  - we have jupyter plugins installed
black 
isort 
jupyterlab
jupyterlab_code_formatter
jupyterlab-myst
black
isort
pip
pandas
altair